<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>建设项目环境影响和评价文件在线审批系统 - 首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <!--
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    -->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">在线审批系统</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#"><i class="icon-home"></i>&nbsp;首页</a></li>
              <li><a href="#"><i class="icon-globe"></i>&nbsp;新闻中心</a></li>
              <li><a href="#"><i class="icon-th-large"></i>&nbsp;建设单位</a></li>
              <li><a href="#"><i class="icon-tag"></i>&nbsp;评价单位</a></li>
              <li><a href="#"><i class="icon-tag"></i>&nbsp;专家</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="#"><i class="icon-arrow-right"></i>&nbsp;系统设置</a></li>
              <li class="divider-vertical"></li>
              <li><a href="#"><i class="icon-arrow-right"></i>&nbsp;技术支持</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand">部门负责人：姓名</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="divider-vertical"></li>
              <li><a href="#"><i class="icon-info-sign"></i>&nbsp;帐户信息</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li><a href="#"><i class="icon-arrow-right"></i>&nbsp;退出登录</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h3 class="text-info" align="center">黑龙江省</p>
        <h2 align='center'>建设项目环境影响和评价文件在线审批系统</h1>
      </div>


      <div class="row-fluid">
        <div class="span12">
          <p align='center'></p>
          <div class="row-fluid">
            <div class="span2 bs-docs-sidebar">
              <ul class="nav nav-pills nav-stacked">
                <li class="active">
                  <a href="#">项目受理<span class="label label-warning">4</span></a>
                </li>
                <li><a href="#">部门分配<span class="label label-warning">4</span></a></li>
                <li><a href="#">项目负责<span class="label label-warning">4</span></a></li>
                <li><a href="#">现场踏察<span class="label label-warning">4</span></a></li>
                <li><a href="#">专家会议<span class="label label-warning">4</span></a></li>
                <li><a href="#">评估意见<span class="label label-warning">4</span></a></li>
                <li><a href="#">项目考察<span class="label label-warning">4</span></a></li>
                <li><a href="#">汇总上报<span class="label label-warning">4</span></a></li>
              </ul>
            </div>
            <div class="span10">
              <div class="row">
                <div class="span8">
                  <table class="table table-condensed">
                    <caption>审批信息</caption>
                    <thead>
                      <tr>
                        <th>时间</th>
                        <th>项目</th>
                        <th>进度</th>
                        <th>信息</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="success">
                        <td>2012-11-19</td>
                        <td>项目名称</td>
                        <td>项目受理</td>
                        <td>通过</td>
                      </tr>
                      <tr class="error">
                        <td>2012-11-20</td>
                        <td>项目2</td>
                        <td>项目受理</td>
                        <td>退回</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="span4">
                  <table class="table table-condensed">
                    <caption>&nbsp;</caption>
                    <thead>
                      <tr class="info">
                        <th>时间</th>
                        <th>新闻</th>
                      </tr class="info">
                    </thead>
                    <tbody>
                      <tr class="warning">
                        <td>2012-11-19</td>
                        <td>新功能介绍</td>
                      </tr>
                      <tr class="warning">
                        <td>2012-11-20</td>
                        <td>服务器维护通知</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/jquery-1.8.2.min.js"></script>
  </body>
</html>
